@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Varela+Round&display=swap');

:root{
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #eee;
    --pink: #ec4899;
    --purple: #8b5cf6;
}

*{
    box-sizing: border-box;
    margin: 0;
    /* font-family: 'Lato', sans-serif; */
font-family: 'Varela Round', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: var(--light);
}